<html>
<head>
<title>Merchant Check Out Page</title>
<%- include ../particals/head %>
</head>
<body>
	

      <%- include ../particals/header %>
      
  
<% if (restdata == 'true') { 	%>
	<center><h1 style="color:#00ff00">validation succesfull</h1>
		<h3 style="color:blue">Thank you!</span></h3>
     <%     }else
          { 	%>
            <center><h1 style="color:red">validation unsuccesfull</h1>
			<h3 style="color:red">Sorry retry!</h3>
            </center>
       <%  }	%>
       <center>
		<form method="post" name="f1"> 
		<table border="1" style="border: 1px solid powderblue">
			<tbody>
			<tr>
					<th>Label</th>
					<th>Value</th>
				</tr>

			<% for (name in paramlist) {
			%>

				<tr>
					<td><label><%= name %></label></td>
					<td><input id='<%= name %>'tabindex="1" maxlength="30" size="30"
						name='<%= name %>' autocomplete="off"
						value='<%= paramlist[name] %>'>
					</td>
				</tr>
				<!-- <input type="label" name='<%= name %>' value='<%= paramlist[name] %>'>
				</br> -->
			<%}%>
			</tbody>
		</table>
		<script type="text/javascript">
			//document.f1.submit();
		</script>
	</form>
	<%- include ../particals/footer %>
</center>
</body>
</html>